body {
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
  color: #000000;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

main {
  height: 100vh;
  display: flex;
  align-items: center;
}

.menu:hover > .menu-item {
  opacity: 0.3;
}
.menu:hover > .menu-item:hover {
  opacity: 1;
}

.menu-item {
  color: #000000;
  font-size: 8vw;
  display: block;
  text-decoration: none;
  padding: 0.5vw;
  margin-left: 20vw;
  transition: opacity 400ms ease;
}
