// For Inter font.
:root {
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

$off-black: #101010;
$off-white: #f6f6f6;

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

.body {
  background-color: $off-white;
  color: $off-black;
  text-align: center;
  &--dark {
    background-color: $off-black;
    color: $off-white;
  }
}

.navbar {
  position: fixed;
  top: 0;
  width: 100vw;
  font-size: clamp(1rem, 2vw, 3rem);
  background-color: $off-white;
  opacity: 1;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.list-item {
  list-style: none;
}

.dark-toggle {
  font-size: 3vw;
  border: none;
  background-color: inherit;
}

.img-me {
  width: 300px;
  border-radius: 50%;
  box-shadow: 5px 5px 50px 0px rgba(0, 0, 0, 0.4);
}

.page {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10%;
}

.text {
  padding: 0 10%;
  font-size: clamp(1rem, 3vw, 3rem);
  &--bold {
    font-weight: bold;
  }
  &--title {
    font-size: clamp(2rem, 6vw, 4rem);
  }
  &--footer {
    font-size: clamp(1rem, 2vw, 3rem);
  }
}

.link {
  color: $off-black;
  &--icon {
    font-size: clamp(50px, 12vw, 150px);
    text-decoration: none;
  }
  &--dark {
    color: $off-white;
  }
}

.link:visited {
  color: $off-black;
}
.link--dark:visited {
  color: $off-white;
}

.biz-links {
  display: flex;
  justify-content: center;
  gap: 10%;
  padding-top: 4%;
  padding-bottom: 4%;
}

.biz-links:hover > .link--icon {
  opacity: 0.3;
}
.biz-links:hover > .link--icon:hover {
  opacity: 1;
}

.work-cards-container {
  display: grid;
  gap: 20px;
}

.work-card {
  display: grid;
  grid-template-columns: 38% 2% 1fr;
  max-width: 80vw;
  background-color: $off-black;
  color: $off-white;
  border-radius: 12px;
  min-height: 15vh;
  border: 1px solid $off-white;
  box-shadow: 5px 5px 50px 0px rgba(0, 0, 0, 0.4);
}

.card-img {
  align-self: center;
}

.card-text {
  border-radius: 6px;
  background-color: #222222;
  display: grid;
  padding: 4px;
  &--title {
    font-weight: 700;
  }
  &--content {
    justify-self: center;
    font-weight: 300;
  }
  &--links {
    display: flex;
    justify-content: space-around;
  }
}

footer {
  margin: 0 5vw 2vh 5vw;
}
