// For Inter font.
:root {
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

$off-black: #101010;
$off-white: #f6f6f6;

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: $off-white;

  color: $off-black;
  text-align: center;
}
.body-dark-mode {
  color: $off-white;
  background-color: $off-black;
}

.light {
  color: $off-black;
}

.dark {
  color: $off-white;
}

#navbar {
  position: fixed;
  top: 0;
  width: 100vw;
  font-size: clamp(1rem, 2vw, 3rem);
  background-color: $off-white;
  opacity: 1;
}

.nav-size {
  font-size: inherit;
  &--dark {
    color: $off-white;
  }
  &--icon {
    font-size: 3vw;
  }
}
nav > ul {
  display: flex;
  justify-content: space-around;
}

nav li {
  list-style: none;
}
nav a {
  color: $off-black;
}

#top-menu {
  height: 100vh;
  display: flex;
  align-items: center;
}

.toggle-item {
  color: inherit;
  font-size: 4vw;
  text-decoration: none;
  padding: 0.5vw;
  opacity: 0.3;
}

.img-me {
  width: 300px;
  border-radius: 50%;
  box-shadow: 5px 5px 50px 0px rgba(0, 0, 0, 0.2);
}

.dark-toggle {
  border: none;
  background-color: inherit;
  font-family: inherit;
}

.page {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 15%;
}
.text {
  padding: 0 10%;
  font-size: clamp(1rem, 4vw, 3rem);
  &--bold {
    font-weight: bold;
  }
}

.ext-link {
  color: $off-black;
  &--icon {
    font-size: 12vw;
    text-decoration: none;
  }
  &--dark {
    color: $off-white;
  }
}

.ext-link:visited {
  color: $off-black;
}
.ext-link--dark:visited {
  color: $off-white;
}
.biz-links {
  display: flex;
  justify-content: center;
  gap: 10%;
  padding-top: 4%;
  padding-bottom: 4%;
}

.biz-links:hover > .ext-link--icon {
  opacity: 0.3;
}
.biz-links:hover > .ext-link--icon:hover {
  opacity: 1;
}
.footer-text {
  font-size: clamp(1rem, 2vw, 3rem);
}

.icon-display {
  font-size: 12vw;
  display: flex;
  justify-content: center;
  gap: 5%;
}

.project-cards {
  display: grid;
  gap: 20px;
}

.work-card {
  display: grid;
  grid-template-columns: 38% 2% 1fr;
  max-width: 80vw;
  background-color: $off-black;
  color: $off-white;
  border-radius: 6px;
  min-height: 15vh;
  box-shadow: 5px 5px 50px 0px rgba(0, 0, 0, 0.2);
}

.card-img {
  align-self: center;
}

.card-text {
  border-radius: 6px;
  background-color: #222222;
  display: grid;
  padding: 4px;
  &--title {
    font-weight: 700;
  }
  &--content {
    justify-self: center;
    font-weight: 300;
  }
  &--links {
    display: flex;
    justify-content: space-around;
  }
}

footer {
  margin: 0 5vw 2vh 5vw;
}
